<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studyboy.lmvideo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 查看网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>  <!-- 悬浮窗 -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ttvideo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".VideoFloatService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".OpenVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTask">
             <!--&lt;!&ndash;<intent-filter>&ndash;&gt;-->
                 <!--&lt;!&ndash;&lt;!&ndash; 隐藏系统条 &ndash;&gt;&ndash;&gt;-->
                 <!--<action android:name="android.readboy.FLAG_HIDE_SYSTEMBAR" />-->
             <!--&lt;!&ndash;</intent-filter>&ndash;&gt;-->
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>